{
    "watch_folder": "C:/Users/ExampleUser/Documents/ExampleFolder",
    "docs_input": "https://docs.google.com/document/d/EXAMPLE_ID/edit",
    "show_success_notifications": true,
    "max_cache_size": 10000
}
